@import "bootstrap";

@import "base/variables";

@import "components/profile-pic";
@import "components/section-title";
@import "components/block-title";

section {
	> p {
		padding-left: 20px;
		font-size: 14px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
